.main {
  padding: 15px;
}

.whiteCircle {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80px;
}

.input {
  margin-top: 1rem;
  width: 100%;
  border-radius: 8px;
  background: #f6f6f6;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 12px;
  color: var(--textColor);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  outline: none;
  border: none;
  order: 2;
}

.input::placeholder {
  font-size: 0.9rem;
  color: var(--textColor);
}

.desk {
  display: none;
}

@media screen and (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .input {
    width: 500px;
  }

  .desk {
    display: grid;
  }
}
